body {
    margin:0;
    padding:0;
}
header, footer {
    display: block;
    width:100%;
    background: black;
    color:white;
}

nav > ul {
    margin:0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    padding:10px;

}
nav > ul > li:hover {
    background: white;
    color: black;
}

nav > ul > li a {
    color: white;
    padding:15px;
    text-decoration: none;
}
nav > ul > li a:hover {
    color: black;
}
.container {
    padding:25px;
}