<div ng-repeat="person in people">
  <profile-card name="{{person.name}}" photo="{{person.photo}}" bio="{{person.lifeStory}}" background="red"></profile-card>
</div>

<h2>{{greeting}}</h2>
<p>hello again, how are you?</p>

<profile-card name="Calvin Webster" photo="http://blog.nj.com/morristown_edkirchdoerffer/2008/11/large_gg_promo01.jpg" bio="I don't know....to be continued.." background="blue"></profile-card>
<img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/007/cache/spider-monkey_719_600x450.jpg" alt="">
